#accueil {
    margin:50px auto;
    border:1px double #A7DD2A;
    text-align: center;
    width: 70%;
    color: #9061BF;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: Georgia,'Times New Roman',times,serif;
}

body {
margin-left: auto;
margin-right: auto;
width: 70%;
text-align: center;
}

.button {
    background-color: #D7C1FF;
    border: 1px solid #B87CF4;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    color: #9061BF;
    font-family: 'Courier New',Courier,monospace;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #A7DD2A;
}

.menu {
    border-color: #008000;
    height: 35px;
    font-size: 18px;
    font-family: 'Courier New',Courier,monospace;
}

input{
    background-color: #C8F285;
    color: #C082FF;
    font-family: Geneva,Arial,Helvetica,sans-serif;
}

.tableau{
    text-align:center;
    margin : 10px auto auto auto; 
   
}

th{
    color: #760DE5;
    border-style: double;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-color: black;
}

.td{
    color: #760DE5;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-spacing: 2px;
}

.erreur{
    color: #C03000;
    border: 1px double #C03000;
    text-align: center;
    width: 70%;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 20px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    margin:30px auto;
}

.message{
    color: #760DE5;
    border: 1px double #A7DD2A;
    text-align: center;
    width: 70%;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 20px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    margin:30px auto;
}

.test{
    color: #760DE5;
    border: 1px double #A7DD2A;
    text-align: center;
    width: 70%;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin:50px auto;
}

.box{
    background-color: #F6E497;
    color: #760DE5;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    width: 70px;
}

h2 {
    color : #853894;
    font-family: 'Courier New',Courier,monospace;
}

.cadre_formulaire {
    background-color: #FFB6B8;
    margin:50px auto;
    text-align: left;
}

.titre_form {
    color: #C44C51;
    font-size: 20px;
}

h3 {
    color: #B78178;
    font-size: 15px;
    text-align: center;
}